:host {
  background: rgba(183, 241, 255, 0.87);
  color: #0d0e7f;

  position: absolute;
  top: 20%;
  left: 30%;
//  transform: translate(50%, 50%);
  z-index:9999;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
 // flex-direction: row;
}
.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  padding: 5px;
}

.grid-item {
  padding:  0 5px;
}

.group-item2 {
  grid-column: span 2;
  padding:  0 5px;
}

.group-item3 {
  grid-column: span 3;
  padding:  0 5px;
}