<div class="container-fluid">
<div class="col-sm-6">
    <form [formGroup]="classroomEditForm" (ngSubmit)="onSubmit()">
        <h4>Введите новые данные об аудитории: </h4>
        <div class="form-row">
            <div class="col-md form-group">
                <label >Номер аудитории:</label>
                <input type="text" formControlName="number"
                       class="form-control"  placeholder="Введите номер аудитории">

                <p *ngIf="!classroomEditForm.get('number').valid
                          && classroomEditForm.get('number').touched" class="alert alert-danger">
                                Поле обязательно для заполнения. Введите номер аудитории!</p>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md form-group">
                <label>Выберите тип аудитории: </label>

                <ng-select formControlName="typeOfClassroom"
                                   [items]="typesOfClassroom"
                                   bindLabel="value"
                                   bindValue="id"
                                   [multiple]="false"
                                   placeholder="Выберите тип аудитории"
                                   clearAllText="Clear"
                >
                </ng-select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md form-group">
                <label>Выберите цвет для аудитории: </label>

                <input class="form-control"
                        [style.background]="color"
                        [cpOKButton]="true"
                        [cpSaveClickOutside]="false"

                        [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                        [cpCancelButton]="true"
                        [cpCancelButtonClass]= "'btn btn-primary btn-xs'"
                        [cpCancelButtonText]="'Отмена'"
                        [(colorPicker)]="color"
                />
            </div>
        </div>

        <br>
        <button type="submit" [disabled]="!classroomEditForm.valid"
                class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-secondary"  (click)="gotoClassroomList()">Отмена</button>


    </form>
</div>
</div>
<br>
<br>
<br>



