
<div class="flex-container">
    <div class="row">
        <div class=" col-md-2"  #external style="overflow-y: scroll; height: 600px">
            <div class="row" >
                <div class="grid-container align-items-center">

                    <div class="group-item2">
                        <div id="fcTrash" class="calendar-trash offset-9 float-right">
                            <img src="./assets/trashmail.png" alt="Корзина" style="width: 60px; height: 60px"/></div>
                    </div>
                    <div class="group-item2">
                        <button class="btn btn-primary" *ngIf="isAdmin" (click)="onCancel()">Отмена занятий</button>
                    </div>

                </div>
                <!--<div class="col-md-8">
                    <div class="row">
                        <button class="btn btn-info">Подтвердить занятия</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-warning">Отменить занятия</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="fcTrash" class="calendar-trash offset-9 float-right">
                        <img src="./assets/trashmail.png" alt="Корзина" style="width: 60px; height: 60px"/></div>
                </div>-->

            </div>
            <p class="space">Занятия:</p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary  justify-content-between align-items-center"
                    ngDraggable [zIndex]="99999" [zIndexMoving]="99999" [trackPosition]="false"
                    style=" margin: 5px 0; padding: 3px; cursor: move; text-align: left"
                    *ngFor="let event of events" [attr.data-event]="getEvent(event)">

                    {{event.title}}
                    <span class="badge badge-success" style="float: right">{{event.need}}</span>
                </li>
            </ul>
            <!--<div class="fc-event" ngDraggable [zIndex]="99999" [zIndexMoving]="99999" [trackPosition]="false"
                 style="display: block; margin: 1em 0; padding: 0.5em; cursor: move;"
                 *ngFor="let event of events" [attr.data-event]="getEvent(event)">
                {{event.title}}
            </div>-->
            <!--<div style="border: 1px solid black">{{event.number}}</div>-->
        </div>
        <div class="col-md-10">
            <full-calendar
                    #fullcalendar
                    schedulerLicenseKey="GPL-My-Project-Is-Open-Source"
                    defaultView="resourceTimeGridDay"
                    resourceLabelText="Rooms"
                    [resources]="resources"
                    [customButtons]="customButtons"
                    [views]="views"
                    [plugins]="plugins"
                    locale="ru"
                    timeZone="local"
                    [datesAboveResources]="true"
                    [editable]="true"
                    [selectable]="true"
                    [droppable]="true"
                    [dragScroll]="true"
                    [events]="calendarEvents"
                    [minTime]="'08:00'"
                    [maxTime]="'22:00'"
                    [allDaySlot]="false"
                    [slotEventOverlap]="false"
                    [slotLabelFormat]="slotLabelFormat"
                    [slotLabelInterval]="'00:30'"
                    [slotDuration]="'00:30'"
                    [snapDuration]="'00:05'"
                    [firstDay]="1"
                    [weekends]="true"
                    [header]="header"
                    [buttonText]="buttonText"
                    [height]="600"
                    (eventClick)="eventClick($event)"
                    (eventMouseEnter)="eventRender($event)"
                    (eventMouseLeave)="handleEventMouseLeave($event)"
                    (datesRender)="getDaysPeriod($event)"
                    (eventReceive)="eventReceive($event)"
                    (eventDrop)="eventDrop($event)"
                    (dateClick)="handleDateClick($event)"
                    (eventDragStop)="eventDragStop($event)"
                    (datesRender)="datesRender($event)"

            ></full-calendar>
            <div>
                <app-timetable-confirm
                        [startDate]="startDate"
                        [endDate]="endDate"
                        *ngIf="isTimetableConfirm"
                        [isConfirm]="isConfirm"
                        (closed)="onCloseTimetableConfirm($event)">

                </app-timetable-confirm>
            </div>

        </div>

    </div>

</div>
<br>
