<div class="container-fluid">

    <div class="row" >
        <div class="col-sm-12" >
            <h3>Пользователи</h3>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm">
            <button class="btn-add" title="Добавить" (click)="onAdd()" > <span class="oi oi-plus"></span> Добавить </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-active">
                <thead class="thead-light">
                <tr>

                    <th>№</th>
                    <th>Логин</th>
                    <th>ФИО</th>
                    <th>Email</th>
                    <th>Статус</th>
                    <th></th>
                    <!--<th></th>
                    <th></th>-->

                </tr>
                </thead>


                <tbody>
                <ng-template ngFor let-user [ngForOf]="users" let-i="index"
                >
                    <tr [ngStyle]="{'color':setUserColor(user.status.id)}">

                        <td scope="row"> {{i+1}}</td>

                        <td>{{user.username}} </td>
                        <td>{{user.lastName}} {{user.firstName}} {{user.patronymic}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.status.value}}</td>
                        <td class="td-p-4">
                            <button class="btn-edit-yellow" title="Роли" [routerLink]="['roles', user.id]" >
                                <span class="oi oi-lock-unlocked"></span>
                            </button>
                            <button class="btn-edit" title="Редактировать" [routerLink]="['edit', user.id]" >
                                <span class="oi oi-pencil"></span>
                            </button>
                            <button class="btn-delete" title="Удалить" (click)="onDeleteUser(user)">
                                <span class="oi oi-trash"></span>
                            </button>

                        </td>
                        <!--<td class="td-p-4">

                            <button class="btn-edit" title="Редактировать" [routerLink]="['edit', user.id]" >
                                <span class="oi oi-pencil"></span>
                            </button>

                        </td>
                        <td class="td-p-4">

                            <button class="btn-delete" title="Удалить" (click)="onDeleteUser(user)">
                                <span class="oi oi-trash"></span>
                            </button>
                        </td>-->
                    </tr>
                </ng-template>

                </tbody>
            </table>
        </div>

    </div>
</div>



