<div class="container-fluid">

    <div class="row" >
        <div class="col-sm-12" >
                   <h3>Предметы</h3>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm">
            <button class="btn-add" title="Добавить" (click)="onAdd()" > <span class="oi oi-plus"></span> Добавить </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-active">
                <thead class="thead-light">
                <tr>
                    <!--<th></th>-->
                    <th>№</th>
                    <th>Краткое наименование</th>
                    <th>Полное наименование</th>
                    <th></th>


                </tr>
                </thead>


                <tbody>
                <ng-template ngFor let-discipline [ngForOf]="disciplines" let-i="index"
                    >
                    <tr (click)="onSelect(discipline.id)">
                       <!-- <td><img src="./assets/arrow.ico" alt="Развернуть" width="15" height="15"></td>-->
                        <td scope="row"> {{i+1}}</td>

                        <td>{{discipline.shortDisciplineName}} </td>
                        <td>{{discipline.disciplineName}}</td>
                        <td class="td-p-4">
                            <button class="btn-edit" title="Редактировать" [routerLink]="['edit', discipline.id]" >
                                <span class="oi oi-pencil"></span>
                            </button>
                            <button class="btn-delete" title="Удалить" (click)="onDeleteDiscipline(discipline)">
                                <span class="oi oi-trash"></span>
                            </button>
                        </td>

                    </tr>
                    <!--<tr class="table-dictionary">
                        <td colspan="6" *ngIf="rowSelected==discipline.id" >
                            <app-discipline-detail [idDisc]="discipline.id"></app-discipline-detail>
                        </td>
                    </tr>-->
                    </ng-template>

                </tbody>
            </table>
        </div>

    </div>
</div>


