<div class="container-fluid">

    <div class="row" >
        <div class="col-sm-12" >
            <h3>Аудитории</h3>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm">
            <button class="btn-add" title="Добавить" (click)="onAdd()" > <span class="oi oi-plus"></span> Добавить </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-active">
                <thead class="thead-light">
                <tr>

                    <th>№</th>
                    <th>Номер аудитории</th>
                    <th>Тип аудитории</th>
                    <th>Тип</th>
                    <th>Цвет</th>
                    <th></th>

                </tr>
                </thead>


                <tbody>
                <ng-template ngFor let-classroom [ngForOf]="classrooms" let-i="index"
                >
                    <tr>

                        <td scope="row"> {{i+1}}</td>

                        <td>{{classroom.number}} </td>
                        <td>{{classroom.typeOfClassroom.value}}</td>
                        <td>{{classroom.typeOfClassroom.short_value}}</td>
                        <td >
                            <div class="circle" [ngStyle]="{'background-color': classroom.color}"></div>
                        </td>
                        <td class="td-p-4">
                            <button class="btn-edit" title="Редактировать" [routerLink]="['edit', classroom.id]" >
                                <span class="oi oi-pencil"></span>
                            </button>
                            <button class="btn-delete" title="Удалить" (click)="onDeleteClassroom(classroom)">
                                <span class="oi oi-trash"></span>
                            </button>
                        </td>
                    </tr>
                </ng-template>

                </tbody>
            </table>
        </div>

    </div>
</div>



