<div class="container-fluid">
    <div class="col-md-6">
        <form [formGroup]="courseEditForm" (ngSubmit)="onSubmit(courseEditForm.value)">
            <h4>Введите новые данные об учебном плане: </h4>
            <div class="form-group">
                <label >Наименование учебного плана:</label>
                <input type="text" formControlName="description"
                       class="form-control"  placeholder="Введите наименование учебного плана">

                <p *ngIf="!courseEditForm.get('description').valid
                    && courseEditForm.get('description').touched" class="alert alert-danger">
                    Поле обязательно для заполнения. Введите наименование учебного плана!</p>
            </div>
            <div class="form-group">
                <label>Вид курса: </label>
                <ng-select
                        [items]="typesOfCourse"
                        bindLabel="value"
                        bindValue="id"
                        [multiple]="false"
                        placeholder="Выберите вид курса"
                        clearAllText="Clear"
                        formControlName="typeOfCourse"
                >
                </ng-select>
            </div>

            <!--<div class="form-group">
                <label>Количество часов в курсе</label>
                <input type="text" formControlName="numberOfHours"
                       class="form-control"  placeholder="Введите количество часов в курсе">

            </div>-->
            <div class="form-group">
                <button type="submit" [disabled]="!courseEditForm.valid" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn btn-secondary"  (click)="gotoCoursesList()">Отмена</button>
            </div>
        </form>
    </div>
</div>


