<div class="container-fluid">
    <div class="col-md-6">
        <form [formGroup]="departmentEditForm" (ngSubmit)="onSubmit()">
            <h4>Введите новые данные о кафедре: </h4>
            <div class="form-group">
                <label >Краткое наименование кафедры:</label>
                <input type="text" formControlName="shortName"
                       class="form-control"  placeholder="Введите краткое наименование кафедры">

                <p *ngIf="!departmentEditForm.get('shortName').valid
                            && departmentEditForm.get('shortName').touched" class="alert alert-danger">
                    Поле обязательно для заполнения. Введите краткое наименование кафедры!</p>
            </div>

            <div class="form-group">
                <label >Полное наименование кафедры:</label>
                <input type="text" formControlName="name"
                       class="form-control"  placeholder="Введите полное наименование кафедры">

                <p *ngIf="!departmentEditForm.get('name').valid
                            && departmentEditForm.get('name').touched" class="alert alert-danger">
                    Поле обязательно для заполнения. Введите полное наименование кафедры!</p>
            </div>
            <div class="form-group">
            <button type="submit" [disabled]="!departmentEditForm.valid" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-secondary"  (click)="gotoCoursesList()">Отмена</button>
            </div>

        </form>
    </div>
</div>
<br>
<br>
<br>





