<div class="container-fluid">

    <full-calendar
            #fullcalendar
            schedulerLicenseKey="GPL-My-Project-Is-Open-Source"
            defaultView="timeGridWeek"
            [plugins]="plugins"
            locale="ru"
            timeZone="local"
            [editable]="true"
            [selectable]="true"
            [droppable]="false"
            [events]="calendarEvents"
            [minTime]="'08:00'"
            [maxTime]="'22:00'"
            [allDaySlot]="false"
            [slotEventOverlap]="false"
            [slotLabelFormat]="slotLabelFormat"
            [slotLabelInterval]="'00:30'"
            [slotDuration]="'00:30'"
            [snapDuration]="'00:05'"
            [firstDay]="1"
            [weekends]="true"
            [header]="header"
            [buttonText]="buttonText"
            [height]="820"
            (eventMouseEnter)="eventRender($event)"
            (eventMouseLeave)="handleEventMouseLeave()"
            (datesRender)="getDaysPeriod($event)"
            (dateClick)="handleDateClick($event)"
            (eventClick)="eventClick($event)"
    ></full-calendar>
    <app-timetable-detail
            *ngIf="timetableDetail"
            [isNew]="isNew"
            [event]="timetableDetail"
            (add)="onAdd($event)"
            (update)="onUpdate($event)"
            (closed)="onCloseTimetableDetail()"
            (delete)="onDelete($event)">

    </app-timetable-detail>
</div>
<br>
<br>
