<div class="container-fluid">
    <div class="col-md-6">
        <h4>Новая группа: </h4>
        <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label >Наименование группы: </label>
                <input type="text" formControlName="groupName"
                       class="form-control"  placeholder="Введите наименование группы">

                <p *ngIf="!groupForm.get('groupName').valid
                    && groupForm.get('groupName').touched" class="alert alert-danger">
                    Поле обязательно для заполнения. Введите наименование группы!</p>
            </div>
            <div class="form-group">
                <label>Форма образования: </label>
                <ng-select
                        [items]="typesOfEducation"
                        bindLabel="value"
                        bindValue="id"
                        [multiple]="false"
                        placeholder="Выберите форму образования"
                        clearAllText="Clear"
                        formControlName="typeOfEducation"
                >
                </ng-select>
            </div>

            <div class="form-group">
                <label>Учебный план: </label>
                <ng-select
                        [items]="descriptionsOfPlan"
                        bindLabel="description"
                        [multiple]="false"
                        placeholder="Выберите учебный план"
                        clearAllText="Clear"
                        formControlName="descriptionOfPlanDto"
                >
                </ng-select>
            </div>

            <div class="form-group">
                <label >Количество подгрупп: </label>
                <input type="text" formControlName="numberOfSubgroup"
                       class="form-control"  placeholder="Введите количество подгрупп">

                <p *ngIf="!groupForm.get('numberOfSubgroup').valid
                && groupForm.get('numberOfSubgroup').touched" class="alert alert-danger">
                    Поле не заполнено или введены не цифры. Введите цифры от 1 до 9!</p>
            </div>

            <div class="form-group col-md-6" style="padding: 0">
                <label >Цвет для группы: </label>
                <input class="form-control"
                       [style.background]="color"
                       [cpOKButton]="true"
                       [cpSaveClickOutside]="false"
                       [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                       [cpCancelButton]="true"
                       [cpCancelButtonClass]= "'btn btn-secondary btn-xs'"
                       [cpCancelButtonText]="'Отмена'"
                       [(colorPicker)]="color"
                />
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!groupForm.valid" class="btn btn-primary">Добавить</button>
                <button type="button" class="btn btn-secondary"  (click)=" gotoGroupsList()">Отмена</button>
            </div>
        </form>
    </div>
</div>
